[submodule "Satellite/vendor/glfw"]
	path = Satellite/vendor/glfw
	url = https://github.com/TheCherno/GLFW
[submodule "Satellite/vendor/spdlog"]
	path = Satellite/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sandbox/vendor/spdlog"]
	path = Sandbox/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Satellite/vendor/imgui"]
	path = Satellite/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Satellite\\vendor\\glm"]
	path = Satellite\\vendor\\glm
	url = https://github.com/g-truc/glm
